* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  width: 40%;
  height: 100vh;
  margin: auto;
  color: white;
  background-color: #006b66;
  padding: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;

}

div {
  background-color: white;
  color: black;
  text-transform: none;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: inset 1.5px 1.5px 1.5px grey;
  line-height: 40px;
  font-family: monospace;
}
